#console {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(235, 235, 235);
    z-index: 99;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.15);
}

/* 拖动条 */
#separateBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.2em;
    background-color: rgba(45, 45, 45, 0.5);
    cursor: row-resize;
    transition: 0.1s;
}

#separateBar:hover {
    height: 0.4em;
    background-color: rgb(0, 127, 212);
    transform: translateY(-0.1em);
}

.commandflex {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
/* 内容显示 */
#shell {
    flex: 1;
    width: 94%;
    border-radius: 0.5em;
    background-color: #fff;
    margin: 0.6em 0 0 0;
    padding: 0 0.6em;
}

/* 输入框 */
.typeIn {
    /* position: fixed; */
    /* bottom: 0em; */
    height: 3.4em;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#commands {
    width: 80%;
    min-width: 150px;
    border: none;
    height: 2.8em;
    border-radius: 1em;
    margin: 0.3em 0.5em;
    padding: 0 1em 0 1em;
    font-size: 1em;
}

.typeIn div {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
}

.typeIn button {
    font-size: 1.5em;
    line-height: 1.5em;
    border: none;
    border-radius: 0.8em;
    background-color: #c7c7c7d4;
    width: 1.6em;
    height: 1.6em;
}

.typeIn button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.typeIn button:active {
    background-color: rgba(255, 255, 255, 0.4);
}
